@page "/"
@using Ecomeal.client.Components.BusinessList

<PageTitle>Home</PageTitle>

<h1>Afaceri EcoMeal</h1>

@* @rendermode InteractiveServer = componenta devine interactivă (rulează pe server),
   ca butoanele/click-urile (ex: Delete de la temă) să funcționeze *@
<BusinessList @rendermode="InteractiveServer" />
