@page "/"
@using Ecomeal.client.Components.BusinessList

<PageTitle>Home</PageTitle>

<h1>Available Businesses</h1>

<a class="btn btn-primary mb-3" href="/business/add">+ Add Business</a>

<BusinessList @rendermode="InteractiveServer" />
