@page "/manage"
@rendermode InteractiveServer
@using Ecomeal.client.Components.BusinessList
@using Ecomeal.client.Services
@inject LocalizationService Loc
@implements IDisposable

<PageTitle>@Loc["nav.manage"]</PageTitle>

<div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="mb-0">@Loc["manage.title"]</h1>
    <a class="btn btn-primary" href="/business/add">+ @Loc["manage.addBusiness"]</a>
</div>

<BusinessList />

@code {
    protected override void OnInitialized() => Loc.OnChanged += HandleLanguageChanged;
    private void HandleLanguageChanged() => _ = InvokeAsync(StateHasChanged);
    public void Dispose() => Loc.OnChanged -= HandleLanguageChanged;
}
